/* Navigation */
.main-nav__social {
  display: none;
}

.main-nav__social-container {
  justify-content: center;
}

.main-nav .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav img {
  margin-bottom: 1rem;
}


/* Showcase */
.showcase__content {
  top: 63%;
  width: 60%;
}


/* Artículos */
.news__articles {
  grid-template-columns: repeat(2, 1fr);
}

.news__article.horizontal {
  display: block;
}

.news__article.horizontal .news__article-content {
  width: auto;
}

.news__article.horizontal .news__article-img {
  width: auto;
}

.news__article:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

.news__article:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.news__article:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.news__article:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.news__article:nth-child(4) p {
  margin-bottom: 0.5rem;
}

.news__article:nth-child(4) img {
  margin-bottom: 0;
}

.news__article:nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.news__article:nth-child(6) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.news__article:last-child {
  grid-column: 1/2;
  grid-row: 4/5;
}

.news__article:last-child p {
  margin-bottom: 0.5rem;
}

.news__article:last-child img {
  margin-bottom: 0;
}

/* Footer */
.footer__item {
  width: 48%;
}

.footer__item:first-child, .footer__item:nth-child(2) {
  margin-bottom: 1rem;
}


@media (max-width: 600px) {
  /* Showcase */
  .showcase__content {
    width: 100%;
  }

  /* Artículos */
  .news__articles {
    display: block;
  }

  .news__articles > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* Footer */
  .footer__articles-container {
    margin-bottom: 2rem;
  }

  .footer__item {
    width: 100%;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 2rem;
  }
}


/* Página About */
.about {
  margin-top: 8rem;
}

.about__container {
  display: block;
}

.about__article {
  margin-bottom: 1rem;
}

.about__aside {
  text-align: center;
}

@media (max-width: 500px) {
  .about {
    padding: 1rem 0 1rem 0;
  }
}


/* Página Article */
.article {
  margin-top: 8rem;
}

.article__content {
  grid-column: 1/-1;
}

.article__aside {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  grid-column: 1/-1;
}

.article__aside-categories {
  flex-basis: 50%;
  margin-right: 1rem;
}

.article__aside-join {
  flex-basis: 50%;
}

@media (max-width: 600px) {
  .article__container {
    display: block;
  }

  .article__content {
    margin-bottom: 1rem;
  }

  .article__aside {
    display: block;
  }

  .article__aside-categories {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .article {
    padding: 1rem 0 1rem 0;
  }
}