:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Estilos de los contenedores */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

/* Estilos de menú de navegación */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 3;
  background-color: #fff;
}

.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav img {
  width: 10rem;
  flex-shrink: 0;
}

.main-nav__social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  flex-shrink: 0;
}

.main-nav__social {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* width: 66.66%; */
}

.main-nav__social-link {
  margin-right: 1rem;
}

.main-nav__social-link i {
  color: #777;
}

.main-nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.main-nav__menu .current {
  background-color: var(--primary-color);
}

.main-nav__menu .current a {
  color: #fff;
}

.main-nav__menu li {
  width: 60px;
  flex-shrink: 0;
}

.main-nav__menu a {
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.main-nav__menu a:hover {
  background-color: #dbdbdb;
  color: var(--dark-color);
}


/* Estilos del showcase */
.showcase {
  position: relative;
  z-index: 1;
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/featured.jpg);
  background-size: cover;
  background-position: center center;
}

.showcase .container {
  position: relative;
  height: 100%;
  color: #fff;
}

.showcase__content {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%)
}

.showcase__category {
  display: inline-block;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 100px;
  color: #fff;
  background-color: var(--secondary-color);
}

.showcase__title {
  font-size: 2rem;
}

.showcase__description {
  margin-bottom: 1rem;
}

.showcase__button {
  padding: 0.7rem 1rem;
  font-family: inherit;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}


/* Estilos de la sección de artículos */
.news {
  padding: 2rem 0;
  background-color: var(--light-color);
}

.news .container {
  padding: 0 2rem;
}

.news__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.news__article {
  padding: 1rem;
  background-color: #fff; 
}

.news__article.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.news__article:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.news__article.horizontal .news__article-content {
  width: 48%;
}

.news__article.horizontal .news__article-img {
  width: 50%;
}

.news__article:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.news__article:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.news__article:nth-child(7) {
  grid-column: 2/4;
  grid-row: 3/4;
}

.simple-dark {
  color: #fff;
  background-color: var(--dark-color);
}

.simple-dark a {
  color: #fff;
}

.simple-red {
  color: #fff;
  background-color: var(--primary-color);
}

.simple-red a {
  color: #fff;
}

.news__article-img img {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.news__article-content p:first-of-type {
  display: inline-block;
  padding: 0.2rem 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  border-radius: 100px;
  border: 1px solid;
  color: #fff;
}

.news__article-content .entertainment {
  background-color: var(--ent-color);
}

.news__article-content .sports {
  background-color: var(--sports-color);
}

.news__article-content .technology {
  background-color: var(--tech-color);
}


/* Estilos del footer */
.footer {
  padding: 2rem 0;
  color: #fff;
  background-color: var(--dark-color);
}

.footer a {
  color: #fff;
}

.footer__articles-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.footer__item {
  width: 23%;
}

.footer__logo img {
  display: block;
  width: 10rem;
  margin-bottom: 0.5rem;
}

.footer__newsletter p, .footer__newsletter input{
  margin-bottom: 0.5rem;
}

.footer__newsletter input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  font-family: inherit;
  color: #777;
}

.footer__newsletter button, .footer__join button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.footer__links a {
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px dotted #777;
}

.footer__join p {
  margin-bottom: 0.5rem;
}

.footer__join button {
  width: auto;
  background-color: var(--sports-color);
}

.footer__copyright {
  background-color: #777;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 0.75rem;
}


/* Estilos de la página about */
.about {
  margin-top: calc(2rem + 40px);
  padding: 2rem;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.about__article {
  padding: 1rem;
  grid-column: 1/4;
  grid-row: 1/4;
  background-color: #fff;
}

.about__article h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.about__article p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.about__aside {
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 1rem;

  color: #fff;
  background-color: var(--primary-color);
}

.about__aside p {
  margin-bottom: 1rem;
}

.about__aside a {
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  background-color: var(--dark-color);
}


/* Estilos de la página article */
.article {
  margin-top: calc(2rem + 40px);
  padding: 2rem;
}

.article__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.article__content {
  grid-column: 1/4;
  padding: 1rem;
  background-color: #fff;
}

.article__content img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.article__content h1 {
  font-size: 2rem;
}

.article__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--light-color);
  font-size: 1rem;
}

.article__author .entertainment {
  padding: 0.5rem;
  border-radius: 100px;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--ent-color);
}

.article__content > p:first-of-type{
  margin-bottom: 1rem;
}

.article__aside-categories {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.article__aside-categories a {
  padding: 0.5rem 0;
  border-bottom: 1px dotted #777;
  display: block;
}

.article__aside-join {
  padding: 1rem;
  color: #fff;
  background-color: var(--sports-color);
}

.article__aside-join p {
  margin-bottom: 1rem;
}

.article__aside-join a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  color: #fff;
  background-color: var(--dark-color);
}